/* #video{
	height: 200px;
	margin-left: 23%;
} */

#map{
	height: 450px;
	width: 100%;
  border-radius: 1%;
}

/* h1{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}
h2{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}
h3{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}
h4{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
} */
/* h5{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}
h6{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}
h6{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
} */
/* small{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
} */

/* #feeds-button{
  display: none;
}

.bg{
  background-image: url(../assets/covid.jpeg);
}

.jumbotron{
  background: none;
} */

#menu {
background: #fff;
position: absolute;
z-index: 1;
top: 5px;
right: 5px;
border-radius: 5px;
width: 100px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: Arial, sans-serif;
}
 
 #menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: black;
color: white;
} */
 
 #menu a.active {
background-color: black;
color: #ffffff;
}
 
#menu a.active:hover {
background: grey;
}

/******************** SLIDER *************************/
.controlcontainer{
	text-align: center;
}
#slider{
	bottom: 0%;
	margin-left: 25%;
  width: 200px;
  text-align: center;
}

/******************** CASES *************************/
/* #cases{
  font-family: Arial, sans-serif;
  padding-top: 2%;
  padding-bottom: 2%
  color:white;
  background-color: #000E0C;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 30%;
  border-radius: 10px
} */

/* #recoveries{
  font-family: Arial, sans-serif;
  padding-top: 2%;
  padding-bottom: 2%
  color:white;
  background-color: rgba(2, 143, 19, 0.959);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 30%;
  border-radius: 10px
} */

/* #deaths{
  font-family: Arial, sans-serif;
  padding-top: 2%;
  padding-bottom: 2%
  color:white;
  background-color: rgba(121, 9, 5, 0.959);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 30%;
  border-radius: 10px
} */

/******************** SELFTEST *************************/
/* #selftest{
opacity: 90%;
border-radius: 10px;
background-color:white;
width: 60%;
height: 65%;
z-index: 2;
position: absolute;
top: 20%;
left:20%;
display: none;
} */


/******************** SELFTEST QUESTIONS *************************/
/* #yesbutt{
  font-family: Arial, sans-serif;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: rgb(169, 241, 25);
  border-width: 0.5px;
  color: white;
  cursor: pointer;
} */


/* #firstquestion{
  opacity: 90%;
  border-radius: 10px;
  background-color: white;
  width: 60%;
  height: 65%;
  z-index: 2;
  position: absolute;
  top: 20%;
  left:20%;
  display: none;
  }

  #secondquestion{
    opacity: 90%;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    height: 65%;
    z-index: 2;
    position: absolute;
    top: 20%;
    left:20%;
    display: none;
    }

    #thirdquestion{
      opacity: 90%;
      border-radius: 10px;
      background-color: white;
      width: 60%;
      height: 65%;
      z-index: 2;
      position: absolute;
      top: 20%;
      left:20%;
      display: none;
      }

      #fourthquestion{
        opacity: 90%;
        border-radius: 10px;
        background-color: white;
        width: 60%;
        height: 65%;
        z-index: 2;
        position: absolute;
        top: 20%;
        left:20%;
        display: none;
        }
        
        #fifthquestion{
          opacity: 90%;
          border-radius: 10px;
          background-color: white;
          width: 60%;
          height: 65%;
          z-index: 2;
          position: absolute;
          top: 20%;
          left:20%;
          display: none;
          }

          #sixthquestion{
            opacity: 90%;
            border-radius: 10px;
            background-color: white;
            width: 60%;
            height: 65%;
            z-index: 2;
            position: absolute;
            top: 20%;
            left:20%;
            display: none;
            }
    
            #seventhquestion{
              opacity: 90%;
              border-radius: 10px;
              background-color: white;
              width: 60%;
              height: 65%;
              z-index: 2;
              position: absolute;
              top: 20%;
              left:20%;
              display: none;
              }

              #eighthquestion{
                opacity: 90%;
                border-radius: 10px;
                background-color: white;
                width: 60%;
                height: 65%;
                z-index: 2;
                position: absolute;
                top: 20%;
                left:20%;
                display: none;
                }

                #ninthquestion{
                  opacity: 90%;
                  border-radius: 10px;
                  background-color: white;
                  width: 60%;
                  height: 65%;
                  z-index: 2;
                  position: absolute;
                  top: 20%;
                  left:20%;
                  display: none;
                  }

                  #tenthquestion{
                    opacity: 90%;
                    border-radius: 10px;
                    background-color: white;
                    width: 60%;
                    height: 65%;
                    z-index: 2;
                    position: absolute;
                    top: 20%;
                    left:20%;
                    display: none;
                    }
                    #eleventhquestion{
                      opacity: 90%;
                      border-radius: 10px;
                      background-color: white;
                      width: 60%;
                      height: 70%;
                      z-index: 2;
                      position: absolute;
                      top: 20%;
                      left:20%;
                      display: none;
                      }
                      #resultlow{
                        opacity: 90%;
                        border-radius: 10px;
                        background-color: white;
                        width: 60%;
                        height: 70%;
                        z-index: 2;
                        position: absolute;
                        top: 20%;
                        left:20%;
                        display: none;
                        }

                        #resultmedium{
                          opacity: 90%;
                          border-radius: 10px;
                          background-color: white;
                          width: 60%;
                          height: 75%;
                          z-index: 2;
                          position: absolute;
                          top: 20%;
                          left:20%;
                          display: none;
                          }

                        #resulthigh{
                          opacity: 90%;
                          border-radius: 10px;
                          background-color: white;
                          width: 60%;
                          height: 75%;
                          z-index: 2;
                          position: absolute;
                          top: 20%;
                          left:20%;
                          display: none;
                          }

                          #resultsevere{
                            opacity: 90%;
                            border-radius: 10px;
                            background-color: white;
                            width: 60%;
                            height: 75%;
                            z-index: 2;
                            position: absolute;
                            top: 20%;
                            left:20%;
                            display: none;
                            }

                            #resultunclear{
                              opacity: 90%;
                              border-radius: 10px;
                              background-color: white;
                              width: 60%;
                              height: 75%;
                              z-index: 2;
                              position: absolute;
                              top: 20%;
                              left:20%;
                              display: none;
                              } */


/* #fonting{
	font-family: Ariel, sans-serif;
	font-weight: bold;
	font-size: 18px;
} */